@import url('https://fonts.googleapis.com/css?family=Kadwa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body { 
  margin: 0;
  font-family: Kadwa;
}

header {
  width: 100%;
	height: 120;
	background-color: #1D91E5;
	text-align: center;
	top: 0;
	overflow: hidden;
}

#App {
  position: relative;
  min-height: 100vh;
}

.header {
  text-align: center;
}

.header a {
  text-decoration: none;
}

.logo {
  width: 80px;
  vertical-align:middle;
}

.title {
  margin-left: 5px;
  color: rgba(255,255,255,1);
  font-family: Kadwa;
  font-weight: Regular;
  font-size: 48px;
  text-align: center;
  vertical-align: middle;
}

nav {
  background-color: #aec6d7;
  height: 90%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-link {
  padding: 14px 16px;
  color: rgba(0,0,0,1);
  font-family: Kadwa;
  font-weight: Regular;
  font-size: 20px;
  text-decoration: none;
}

.pre-footer {
  clear: both;
  height: 7.3rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5.3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #1D91E5;
  text-align: center;
  color: rgba(0,0,0,1);
  font-family: Kadwa;
  font-weight: Regular;
  font-size: 20px;
}

footer a {
  padding: 10px 10px;
  text-decoration: none;
  color: rgba(0,0,0,1);
}

nav a:hover, .footer a:hover{ 
  transition: ease-in-out all .1s; 
  -moz-transition: ease-in-out all .1s;
  -webkit-transition: ease-in-out all .1s;
  text-decoration:none;
  color: #424242;
  font-weight:bold;
}

.cart {
  float: right;
  width:40px;
  margin-right: 20px;
  vertical-align: middle;
}

.profile {
  float: right;
  width: 40px;
  margin-right: 20px;
  vertical-align: middle;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  display: inline-block;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery a {
  text-decoration: none;
  color: black;
}

div.gallery img {
  padding: 10px;
  width: 100px;
  height: auto;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div.desc {
  padding: 15px;
  text-align: center;
}

#related-books {
  padding: 1%;
}

.book-info h2 {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;  
  text-transform: uppercase;
}
.book-info h3 {
  color: #3E3E3E;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.book-price {
  font-family: 'Kadwa';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}
.book-info {
  width: 100%;
  padding: 5%;
  height: auto;
}
.book-cover {
  max-width: 200px;
}
.book-inner {
  width: 70%;
  padding: 1px;
  float: right;
}

/* .book-info {
  background-color: #1D91E5;
  width: 100%;
  position: relative;
}
.book-left {
  background-color: blue;
  text-align: center;
  width: 30%;
}
.book-cover {
  max-width: 200px;
}
.book-right {
  width: 60%;
  float: right;
  background-color: #3E3E3E;
  position: absolute;
} */

.center {
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  font-family: Open Sans;
}

.center h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  font-family: Kadwa;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

/* Forms */
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}.txt_field input:disabled ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}